<% provide(:title, "Home") %>
<br>
<h1>Welcome Rails App - Part 2</h1>

<%= link_to "Sign up now!", sign_up_path , class: "btn btn-primary" %>
<%= link_to "Sign in!", sign_in_path , class: "btn btn-primary" %>




