<%= form_tag(courses_path, :method => "get") do %>  
  <%= search_field_tag :search, params[:search], placeholder: "Search", class: "form-control" %>  
  <div class="input-group-btn">  
  <%= submit_tag "search", :class => 'btn btn-info glyphicon glyphicon-search',:name => nil%> 
</div>
<% end %>

